<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-gray-800">

  <header class="flex items-center justify-center m-12 rounded w-4/6 md:w-3/4 sm:w-11/12 max-sm:w-11/12">
    {{ partial "header.html" . }}
  </header>

  <main class="bg-gray-50 p-3 rounded m-auto mb-6 w-4/6 md:w-3/4 sm:w-11/12 max-sm:w-11/12 min-h-[calc(100vh-4rem)]">
    {{ block "main" . }}{{ end }}
  </main>
 
  <footer class="text-xs py-3 m-12 bg-gray-50 rounded w-4/6 md:w-3/4 sm:w-11/12 max-sm:w-11/12">
    {{ partial "footer.html" . }}
  <footer>

</body>
</html>
