<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-gray-800 w-100vw">

  <div class="wrapper ml-[15%] max-w-[900px]">

    <header class="bg-gray-50">
      {{ partial "header.html" . }}
    </header>

    <main class="bg-gray-50 p-3
    {{ if .Page.IsHome }}
      my-6 min-h-[calc(100vh-6rem)]
    {{ else }}
      mb-6 min-h-[calc(100vh-1rem)] max-sm:text-sm
    {{ end }}">
      {{ block "main" . }}{{ end }}
    </main>
   
    <footer class="py-3 m-12 bg-gray-50 rounded">
      {{ partial "footer.html" . }}
    <footer>

  </div>


</body>
</html>
