@import "tailwindcss";

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-lg;
  }
  h1, h2, h3, h4, h5 {
    @apply font-bold my-2;
  }
  .highlight {
    @apply my-2;
  }
  ul, ol, li {
    list-style-type: revert; /* Restore the browser's default styling */
    padding-left: revert;   /* Restore default indentation */
    margin: revert;         /* Restore default margin */
  }
  li a {
    @apply text-blue-600 hover:text-blue-800 underline; /* Apply styles to links inside list items */
  }


}

body {
    font-family: 'Inter', sans-serif;
}

/* Block code */
code {
    padding: 0.5rem;
}

/* Inline Code  */
:not(pre) > code {
    padding: 2px;
    border-radius: 25px;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
}

header {
    margin: 0 auto;
    text-align: center;
}

footer {
    margin: 0 auto;
    text-align: center;

}
