@import "tailwindcss";

@layer base {
  h1 {
    @apply text-3xl max-sm:text-2xl;
  }
  h2 {
    @apply text-2xl max-sm:text-xl;
  }
  h3 {
    @apply text-xl max-sm:text-lg;
  }
  h4 {
    @apply text-lg max-sm:text-base;
  }
  h5 {
    @apply text-lg max-sm:text-base;
  }
  h1, h2, h3, h4, h5 {
    @apply font-bold my-2;
  }
  .highlight pre {
    @apply my-2 overflow-x-auto overflow-y-hidden w-auto;
  }
  ul, ol, li {
    list-style-type: revert; /* Restore the browser's default styling */
    padding-left: revert;   /* Restore default indentation */
    margin: revert;         /* Restore default margin */
  }
  li a {
    @apply text-blue-600 hover:text-blue-800 underline; /* Apply styles to links inside list items */
  }

  header a {
    @apply font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline hover:text-gray-800;
  }

  main a{
    @apply break-all;
  }

  footer a {
    @apply font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline hover:text-gray-800;
  }

  #TableOfContents ul {
    @apply px-8;
  }

}


body {
    font-family: 'Inter', sans-serif;
}

/* Block code */
code {
    padding: 0.5rem;
}

/* Inline Code  */
:not(pre) > code {
    padding: 2px;
    border-radius: 25px;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
}

header {
    margin: 0 auto;
    text-align: center;
}

footer {
    margin: 0 auto;
    text-align: center;

}


.hidden {
  display: none;
}

/*
 * Counter for heading-level
 * */

body {
  counter-reset: h2counter h3counter h4counter h5counter h6counter;
}

h2::before {
  counter-increment: h2counter;
  content: counter(h2counter) ". ";
  counter-set: h3counter 0;
}

h3::before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) ". ";
  counter-set: h4counter 0;
}

h4::before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ". ";
  counter-set: h5counter 0;
}

h5::before {
  counter-increment: h5counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ". ";
  counter-set: h6counter 0;
}

h6::before {
  counter-increment: h6counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ". ";
}

/*
 * Counter for TableOfContents
 * */
#TableOfContents{
  /* Level 1 */
  ul {
    list-style-type: none;
    counter-reset: level_1; /* Reset the counter for the main list */
  }

  ul > li {
    counter-increment: level_1; /* Increment the counter for each main list item */
  }

  ul > li::before {
    content: counter(level_1) ". "; /* Add the counter before the list item text */
  }

  /* Level 2*/
  ul li ul {
    list-style-type: none;
    counter-reset: level_2; /* Reset the counter for sublists */
  }

  ul li ul > li {
    counter-increment: level_2; /* Increment the sublist counter */
  }

  ul li ul > li::before {
    content: counter(level_1) "." counter(level_2) " "; /* Prefix with parent number and sub number */
  }

  /* Level 3*/
  ul li ul li ul{
    list-style-type: none;
    counter-reset: level_3; /* Reset the counter for sublists */
  }

  ul li ul li ul > li {
    counter-increment: level_3; /* Increment the sublist counter */
  }

  ul li ul li ul > li::before {
    content: counter(level_1) "." counter(level_2) "." counter(level_3) " "; /* Prefix with parent number and sub number */
  }

  /* the pattern for extending the level is:
   *
   * ul li -> Level 1
   * [ul li] ul -> Level 2
   * [ul li] [ul li] ul -> Level 3
   * [ul li] [ul li] [ul li] ul -> Level 4
   *
   * look how the brackets make up the levels.
   * */
}
