

<div id="navigate" class="hidden absolute top-20 left-1/2 -translate-x-1/2 -translate-y-1/2
                              bg-gray-700 text-white p-4 w-64 text-center">
    Navigate to: <br>
    <a id="query" class="text-nowrap overflow-x-hidden m-auto
                         font-medium text-blue-300 underline dark:text-blue-500
                         hover:no-underline hover:text-gray-800 cursor-pointer"></a>
    ↵
    <br>
        <!-- Suggestions Dropdown -->
    <div id="suggestions" 
         class="w-full bg-gray-700 text-white rounded">
    </div>
</div>

<script>
let searchString = "";
var navigate = document.getElementById("navigate");
var suggestions = document.getElementById("suggestions");
var query = document.getElementById("query");


fetch('search.json')
  .then(response => response.json())
  .then(data => {
    data.forEach(item => {
      console.log(item); // Process each item
    });
  })
  .catch(error => console.error('Error fetching search.json:', error));

function toggle(){
    navigate.classList.toggle("hidden");
}

document.body.addEventListener("keypress", (e) => {
  // 47 = "/"
  if (e.charCode === 47){
    toggle()
    document.body.addEventListener("keydown", enterSearchString);
  }
});

function enterSearchString(e){
  if(e.key === 'Meta'){return}
  if(e.key === 'Alt'){return}
  if(e.key === 'Shift'){return}
  if(e.key === 'Control'){return}
  if(e.key === 'Backspace'){
    searchString = searchString.substring(0, searchString.length - 1);
    query.innerHTML = searchString
    query.href = searchString
    return
  }
  if(e.key === 'Enter'){
    let link = searchString
    toggle()
    window.location.href = link
    return
  }
  if(e.key === 'Escape'){
    document.body.removeEventListener("keydown", enterSearchString );
    searchString = ""
    query.innerHTML = searchString
    toggle()
    return  
  }
  // if(e.key === 'Tab'){
  //   return  
  // }
  searchString = searchString + e.key
  query.innerHTML = searchString
  query.href = searchString
}
</script>


